


@using System.Configuration;
@using DSIGE
@using DSIGE.Modelo
@using DSIGE.Negocio

@{
    ViewBag.Title = "liquidacionOT";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section instances{

    @Styles.Render("~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css")
    @Scripts.Render("~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")
    @Scripts.Render("~/Content/angular/angular.js")
}

@section styles{
    <style type="text/css">
        .fixed-table-toolbar .search {
            line-height: 0;
        }

        .form-control {
            font-size: 11px;
            width: 100%;
            height: 28px;
        }

        label {
            font-family: "Tahoma", "Geneva", sans-serif;
            font-size: 12px;
            font-weight: bold;
        }

        .nav-tabs {
            border-bottom: 0;
        }

        #_archivo.btn-info {
            background-image: none;
            color: inherit;
            background-color: inherit !important;
        }

        .modal-dialog {
            width: 300px;
        }

        #modalLecturass {
            width: 530px;
        }

        #modalcortess {
            width: 530px;
        }

        #modalhistorico {
            width: 500px;
        }

        #modalpendientes {
            width: 500px;
        }

        .datepicker {
            width: 200px;
        }


        #table-consulta_lec td {
            color: black;
        }

        #table-consulta_reclec td {
            color: black;
        }

        #Principal {
            width: 98%;
            height: 400px;
        }

        input[type=search] {
            width: 300px !important;
        }


        [tooltip]:before {
            /* needed - do not touch */
            content: attr(tooltip);
            position: absolute;
            opacity: 0;
            /* customizable */
            transition: all 0.15s ease;
            padding: 10px;
            color: red;
            border-radius: 10px;
            box-shadow: 2px 2px 1px silver;
            font-family: Tahoma
        }

        [tooltip]:hover:before {
            /* needed - do not touch */
            opacity: 1;
            /* customizable */
            background: beige;
            margin-top: -50px;
            margin-left: 20px;
        }

        [tooltip]:not([tooltip-persistent]):before {
            pointer-events: none;
        }

        .check {
            margin-top: -5px;
            margin-bottom: -5px;
        }

        .Julio table, th {
            background-color: #333 !important;
            color: white !important;
        }

        [class^="icon-"], [class*=" icon-"] {
            font-size: 15px;
        }
    </style>
}

@section scripts{


    <script type="text/javascript">

        function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
        }

        var app = angular.module('appLiquidacionOT', [])

            .directive('fileModel', ['$parse', function ($parse) {

                return {
                    restrict: 'A',
                    link: function (scope, element, attrs) {
                        var model = $parse(attrs.fileModel);
                        var modelSetter = model.assign;

                        element.bind('change', function () {
                            scope.$apply(function () {
                                modelSetter(scope, element[0].files[0]);
                            });
                        });
                    }
                };
            }])
        app.service('fileUpload', ['$http', function ($http) {
            this.uploadFileToUrl = function (idlocal, file, uploadUrl) {

                var fd = new FormData();
                fd.append('file', file);
                fd.append('idlocal', idlocal);
                $http.post(uploadUrl, fd, {
                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined }
                })
                    .success(function (data) {

                    })
                    .error(function () {

                    });
            }
        }]);

        app.directive('onFinishRender', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit(attr.onFinishRender);
                        });
                    }
                }
            }
        });

        app.controller('LecturaEnviarClienteCtrl', function ($scope, $http, $timeout, fileUpload) {


            //inicializando fechas
            $(function () {
                $('#dtp_fechaAsigna_inicial').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'es',
                    autoclose: true
                });

                $('#dtp_fechaAsigna_final').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'es',
                    autoclose: true
                });

            })
            
            $scope.InicializandoVariables = function () {
                $scope.listando_Servicios();
                setTimeout(function () {
                    var cbo_estado = document.getElementById('cbo_estado');
                    var txt_suministro = document.getElementById('txt_suministro');
                    var txt_medidor = document.getElementById('txt_medidor');
                    cbo_estado.value = '0';
                    txt_suministro.value = '';
                    txt_medidor.value = ''; 
                }, 1000);

            }

 
            $scope.listando_Servicios = function () {
                var variables = {
                    method: 'POST',
                    url: '../AsignaOrdenTrabajo/ListandoServicios',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    }
                }
                $http(variables)
                    .success(function (data) {
                        $scope.ListaServicios = data.filter((estado) => (estado.id_TipoServicio == 1 || estado.id_TipoServicio == 2 || estado.id_TipoServicio == 9 ) );
                        $scope.listando_Estados();
                    })
                    .error(function () {
                        alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                    });
            };

            $scope.listando_Estados = function () {
                var cbo_servicio = document.getElementById('cbo_servicio');
                var variables = {
                    method: 'POST',
                    url: '../LecturaEnviarCliente/ListandoEstadosLectura',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    }
                }

                $http(variables)
                    .success(function (data) {
                        $scope.ListaEstados = data; 
                        id_tipoServicio = '0'
                        setTimeout(function () {
                            $('#cbo_servicio').val('0').trigger('change'); 
                        }, 0);
                    })
                    .error(function () {
                        alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                    });
            };
 
 

            $scope.Servicios_Change = function (id) {
                const cbo_servicio = document.getElementById('cbo_servicio').value;
                const txt_suministro = document.getElementById('txt_suministro');

                if (cbo_servicio == 0 || cbo_servicio == "0" || cbo_servicio == '? undefined:undefined ?') {
                    console.log('no hay servicio')
                    return;
                }

                $scope.ListaLecturasRelectura = [];
                $scope.ListaCortes = [];
                $scope.ListaReparto = [];

                $scope.Flag_Show_LecturaRelectura = false;
                $scope.Flag_Show_CorteReconexion = false;
                $scope.Flag_Show_Reparto = false;

                $scope.checkSuministros = false;
                txt_suministro.disabled = false;

                if (cbo_servicio == 1 || cbo_servicio == 2 || cbo_servicio == 9) {
                    $scope.Flag_Show_LecturaRelectura = true;
                    $scope.camposHistorico = false;
                }
                if (cbo_servicio == 3 || cbo_servicio == 4) {
                    $scope.Flag_Show_CorteReconexion = true;
                }
                if (cbo_servicio == 6 || cbo_servicio == '6') {
                    $scope.Flag_Show_Reparto = true;
                }
            }
                       
            $scope.ListaSupervisor = [];
            $scope.listando_Supervisor = function () {
                $('.sige-load').show();
                var variables = {
                    method: 'POST',
                    url: '../asignar_supervisor/ListandoSupervisor_usuario',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    }
                }
                $http(variables)
                    .success(function (data) {
                        $('.sige-load').hide();
                        $scope.ListaSupervisor = data;
                        let cant = $scope.ListaSupervisor.length;

                        setTimeout(function () {
                            if (cant > 1) {
                                $scope.id_supervisor = $scope.ListaSupervisor[1].id_Usuario;
                                $('#cbo_supervisor').val($scope.id_supervisor).trigger('change');
                            } else {
                                $scope.id_supervisor = '0';
                                $('#cbo_supervisor').val(0).trigger('change');
                            }
                        }, 200);

                    })
                    .error(function () {
                        $('.sige-load').hide();
                        alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                    });
            };
            $scope.listando_Supervisor();

            $scope.ListaUsuario_Operarios = [];
            $scope.Change_listando_Usuario_Operarios = function (obj_id_supervisor) {
                if (obj_id_supervisor == 0 || obj_id_supervisor == '0') {
                    $scope.ListaUsuario_Operarios = [];
                    return;
                }

                var variables = {
                    method: 'post',
                    url: '../asignar_supervisor/ListandoUsuario_Operarios',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        id_supervisor: obj_id_supervisor
                    }
                }

                $('.sige-load').show();
                $scope.ListaUsuario_Operarios = [];
                $http(variables)
                    .success(function (data) {
                        $('.sige-load').hide();
                        $scope.ListaUsuario_Operarios = data;
                    })
                    .error(function () {
                        alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                    });
            };

            $scope.List_TipoCliente = [];
            $scope.TipoClientes = function () {
                $scope.List_TipoCliente.push(
                    {
                        id: '1',
                        desc: 'TODOS'
                    },
                    {
                        id: '2',
                        desc: 'NORMALES'
                    },
                    {
                        id: '3',
                        desc: 'COMERCIALES'
                    }
                )
            }
            $scope.TipoClientes();

            $scope.formatos = () => {
                window.open('../formatos/FORMATO_SUMINISTRO.xlsx', '_blank')
            }




            function ValidacionesGenerales() {
                var cbo_servicio = document.getElementById('cbo_servicio');
                var cbo_estado = document.getElementById('cbo_estado');
 
                if (cbo_servicio.value == '0' || cbo_servicio.value == "0") {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccione un Servicio. Muchas gracias.',
                        type: 'error'
                    });
                    return false;
                }

                if (cbo_estado.value == '0' || cbo_estado.value == "0") {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccione un Estado. Muchas gracias.',
                        type: 'error'
                    });
                    return false;
                }
                return true;
            }




            $scope.descargandoOrdenTrabajo = function () {

                if (ValidacionesGenerales() == false) {
                    return;
                }
                var id_link = document.getElementById('id_link');
                var cbo_servicio = document.getElementById('cbo_servicio');
                var cbo_estado = document.getElementById('cbo_estado');
                var txt_suministro = document.getElementById('txt_suministro');
                var txt_medidor = document.getElementById('txt_medidor');
 
                var dtp_fechaAsigna_inicial = document.getElementById('dtp_fechaAsigna_inicial');
                var dtp_fechaAsigna_final = document.getElementById('dtp_fechaAsigna_final');

                
                var cbo_TipoCliente = document.getElementById('cbo_TipoCliente');
                var cbo_supervisor = document.getElementById('cbo_supervisor').value;
                var cbo_Operario_supervisor = document.getElementById('cbo_Operario_supervisor').value;

 
                if (cbo_supervisor == '' || cbo_supervisor == '-1' || cbo_supervisor == -1) {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccione un supervisor',
                        type: 'error'
                    });
                    return;
                }
 

                $('.sige-load').show();

                var variables = {
                    method: 'POST',
                    url: '../LecturaEnviarCliente/download_liquidacionOrdenTrabajo',

                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        id_tipo_servicio: cbo_servicio.value,
                        estado: cbo_estado.value,
                        suministro: txt_suministro.value,
                        medidor: txt_medidor.value,
                        fechaInicial: dtp_fechaAsigna_inicial.value,
                        fechaFinal: dtp_fechaAsigna_final.value,

                        tipoCliente: cbo_TipoCliente.value,
                        id_supervisor: cbo_supervisor,
                        id_operario_supervisor: cbo_Operario_supervisor
                    }
                }

                $http(variables)
                    .success(function (data) {

                        $('.sige-load').hide();
                        var res = data.split("|");
                        if (res[0].replace(/["]/gi, '') == 0 || res[0].replace(/["]/gi, '') == "0") {
                            new PNotify({
                                title: 'Sistemas',
                                text: 'No hay información para mostrar.',
                                type: 'success'
                            });
                        } else if (res[0].replace(/["]/gi, '') == -1 || res[0].replace(/["]/gi, '') == "-1") {
                            alert(res[1]);
                        }
                        else {
                            let url = res[1].replace(/["]/gi, '');
                            id_link.href = res[1].replace(/["]/gi, '');
                            id_link.click();
                        }
                    })
                    .error(function (error ) {
                        alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.' + error)
                        $('.sige-load').hide();
                    });
            }



        })


    </script>
}

<div ng-app="appLiquidacionOT" ng-controller="LecturaEnviarClienteCtrl" ng-init="InicializandoVariables()">

    <div class="panel panel-oscuro" style="margin-top: -14px;">
        <div class="panel-heading">
            <h6><i class="fa fa-table fa-lg"></i> REPORTE DE LIQUIDACION DE OT </h6>
        </div>
        <div class="panel-body">


            <div class="well" style="background: #314b75; color: white;    margin-bottom: 1px;">
                <div class="row" style="    margin-top: -15px">
                    <div class="col-xs-12 col-sm-12 col-md-12">
 

                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
                            <div class="form-group">
                                <label class="control-label">
                                    Servicios
                                </label>
                                <br />
                                <select id="cbo_servicio" class="form-control" ng-model="id_tipoServicio" ng-change="Tecnico_Change(id_tipoServicio); Servicios_Change(id_tipoServicio); ChangeObservaciones(id_tipoServicio); ">
                                    <option value=0>--[ Seleccione ]-- </option>
                                    <option ng-repeat="item in ListaServicios" value="{{item.id_TipoServicio}}">
                                        {{item.nombre_tiposervicio}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
                            <div class="form-group">
                                <label class="control-label">
                                    Estados
                                </label>
                                <br />
                                <select id="cbo_estado" class="form-control">
                                    <option value=0>--[ Seleccione ]-- </option>
                                    <option ng-repeat="item in ListaEstados" value="{{item.id_Estado}}">
                                        {{item.descripcion_estado}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                            <div class="form-group form-group-sm">
                                <label class="control-label"> Rango de Asignacion </label>
                                <div class="input-group">
                                    <input class="form-control Julio" id="dtp_fechaAsigna_inicial" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <span class="input-group-addon">-</span>
                                    <input class="form-control Julio" id="dtp_fechaAsigna_final" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                </div>
                                <a id="id_link" href="" download style="display:none">link</a>
                            </div>
                        </div>
                    </div>

                 </div>

                <div class="row" style="    margin-bottom: -20px;">
                    <div class="col-sm-6 col-md-8">
                        <div class="col-xs-6 col-sm-6 col-md-4  col-lg-4 ">
                            <label class="control-label">
                                Suministro
                            </label>
                            <div class="form-group">
                                <input id="txt_suministro" class="form-control" type="text" placeholder="Ingresar Suministro">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4  col-lg-4 ">
                            <div class="form-group">
                                <label class="control-label">
                                    Medidor
                                </label>
                                <br />
                                <input id="txt_medidor" class="form-control" type="text" placeholder="Ingresar medidor" maxlength="30">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4  col-lg-4 ">
                            <div class="form-group">
                                <label class="control-label">
                                    Tipo Cliente
                                </label>
                                <br />
                                <select id="cbo_TipoCliente" class="form-control">
                                    <option ng-repeat="item in List_TipoCliente" value="{{item.id}}">
                                        {{item.desc}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">

                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label for="_supervisor" class="control-label">Supervisor</label>
                            <select id="cbo_supervisor" class="form-control" ng-model="id_supervisor" ng-change="Change_listando_Usuario_Operarios(id_supervisor); ">

                                <option ng-repeat="item in ListaSupervisor" value="{{item.id_Usuario}}">
                                    {{item.supervisor}}
                                </option>
                            </select>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label for="_supervisor" class="control-label">Operarios</label>
                            <select id="cbo_Operario_supervisor" class="form-control">
                                <option value=0>--[ TODOS ]-- </option>
                                <option ng-repeat="item in ListaUsuario_Operarios" value="{{item.id_Operario}}">
                                    {{item.desc_operario}}
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12 text-center">
                        @*<button class="btn  btn-danger" ng-click="RecepcionLecturas();"><span class="glyphicon glyphicon-ok"></span> Recepcion </button>*@
                        <button class="btn  btn-success" ng-click="descargandoOrdenTrabajo()"><span class="glyphicon glyphicon-refresh"></span> Descargar </button>
                    </div>
                </div>

            </div>



        </div>
    </div>



</div>
